/*********************************************************************
* Part of intrepid, this is not to be considered a production system
* Development started Dec 2015
* Author: Benjamin Faulkner
*********************************************************************//* 
    Created on : 26-Dec-2015, 17:32:15
    Author     : Ben
*/


h1, h2, h3, h4, h5, h6 {
    border: none;
    background: none;
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
}

.hackable-note {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 6em;
    margin: 10px 0px 0px -5px;
}

.hackable-sub {
    margin-top: 0px;
}

h2 {
    text-transform: uppercase;
}


@media print {
    .sidebar, button {
        display: none;
    }
    
    body, html , .main{
        padding: 0px;
        margin: 0px;
    }
    
    
h1.hackable-note {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    margin: 10px 0px 0px -5px;
}

h2.hackable-sub {
    font-size: 1.5em;
}

    
    h2 {
        margin-top: 15px;
    }
}